0.buck(testDebug);buck install -r appZroTestDebug
1.buck(testRealese);buck install -r appZroTestRealese
2.buck(productDebug);buck install -r appZroProductDebug
3.buck(productRealse);buck install -r appZroProductRealese
4.切换到最新分支;python CheckBranch.py
5.输出数据库(yunqi.db);adb root#adb pull /data/data/com.lingan.yunqi/databases/yunqi.db ~/
6.获取当前页面名称;adb shell dumpsys activity | grep "mFocusedActivity"
7.清楚应用缓存;adb shell pm clear com.lingan.yunqi
8.卸载孕期;adb uninstall com.lingan.yunqi
9.批量打aar包;gradle deploy
10.小工具模块打包;gradle :pregnancy-tools:uploadArchives
11.查看tcp接口;adb shell#netstat -an | grep 213 | grep -v :80
12.导出数据库;adb shell#run-as com.lingan.yunqi#cp ./databases/yunqi.db /sdcard/#exit#exit#adb pull /sdcard/yunqi.db ~/